:root {
  --brown: #b37a4d;
  --teal: #7fb3a3;
  --beige: #dec0a1;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--teal);
  overflow-x: hidden;
}

.page {
  display: none;
  min-height: 100vh;
  width: 100%;
  max-width: 480px; 
  margin: 0 auto;
  padding: 20px;
}

.page.active {
  display: block;
}

#hero {
  background-color: var(--brown);
  text-align: center;
  color: var(--white);
}
.logo-text {
  font-size: 3rem;
  font-weight: 900;
}
.logo-text span {
  color: var(--beige);
}
.image-circle img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px 0;
  border: 5px solid var(--beige);
}
.price-tag {
  color: red;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.header-bar {
  background: var(--beige);
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}
.menu-container {
  background: #d9b89a;
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
}
.menu-item {
  text-align: center;
  margin-bottom: 25px;
}
.menu-item img {
  width: 150px;
  height: 100px;
  border-radius: 8px;
}
.qty-ctrl {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: #ddd;
  width: fit-content;
  margin: 10px auto;
  padding: 5px 15px;
  border-radius: 5px;
}
.qty-btn {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  background: none;
}

.form-container {
  background: var(--beige);
  padding: 30px;
  border-radius: 15px;
  margin-top: 50px;
}
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

button {
  cursor: pointer;
  border: none;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 10px;
}
.btn-main,
.btn-order-now,
.btn-final-order,
.btn-back {
  background: var(--beige);
  color: black;
  padding: 15px 30px;
  width: 100%;
}
.btn-final-order {
  width: auto;
  display: block;
  margin: 20px auto;
  padding: 10px 40px;
}
